:root {
    --cor0: #9F87AF;
    --cor1: #f0b469;
    --cor2: #F4FFF8;
    --cor3: #077187;
    --cor4: #11032c;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
    font-family: 'Clash';
    src: url(fonts/Clash_Bold.otf) format('opentype');
    font-weight: bold;
}


h2,
h1,
h3 {
    font-family: 'clash', 'lexend', serif;

}

nav {
    background-color: var(--cor0);
    font-family: 'clash' serif;
    text-align: end;
    gap: 20px;
    padding: 15px;

}

nav>a {
    font-family: 'Clash';
    text-decoration: none;
    color: white;
    padding: 10px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.403);
}


header {
    background-image: linear-gradient(to bottom, #9f87af, #077187);
   margin: 0;
    padding: 0px;
    color: var(--cor2);
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header>h1 {
    font-family: 'clash', sans-serif;
    font-size: 3em;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
}

header>p {
    font-family: 'clash';
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.271);
}

article {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    padding-top: 10px;
    
    padding-bottom: 40px;
}

article>h2 {
    font-family: 'clash';
    color: var(--cor2);
    text-align: center;
}

article>.clans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;



}

.clash1,
.clash2,
.clash3 {
    display: block;
    margin: auto;
}

.clans img {
    width: 100px;
    display: block;
    margin: auto;

}

.clans h3 {
    color: var(--cor1);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.373);
}

.clash1,
.clash2,
.clash3 {
    font-family: 'clash';
    color: var(--cor4);
    background-color: var(--cor3);
    border-radius: 20px;
    padding: 0px 30px 5px 20px
}

ul #guerra {
    list-style-type: '\1F4A5';
    padding: 5px;
}

ul #trofeus {
    list-style-type: '\1F3C6';
    padding: 5px;
}

ul #controle {
    list-style-type: '\1F3AE';
    padding: 5px;
}

.clans button {
    width: 98%;
    height: 30px;
    border-radius: 10px;
    display: block;
    margin: auto;
    color: var(--cor2);
    background-color: var(--cor1);
    font-family: clash;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.373);
    font-size: 0.8em;
}

.clans button:hover {
    cursor: pointer;
    color: var(--cor3);
    background-color: var(--cor2);

}

.clans a {
    text-decoration: none;
}

aside {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    
    padding: 10px;
    padding-bottom: 20px;
    color: var(--cor2);
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.344);
}

.videos {
    background-color: var(--cor4);
    margin: 20px 20px 20px 20px;
    padding-bottom: 30%;
    position: relative;
    border-radius: 20px;
    height: 40vh;
}


.videos > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
}

footer {
    background-color: var(--cor0);
    display: flex;
   
    padding: 6PX;
    gap: 3px;
    font-family: clash, sans-serif;
    position: relative;
    justify-content: center;
    color: var(--cor2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.423);
}

.social {
    width: 40px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 50%;
    
}

.barbaro {
    width: 20vw;
}
footer>a>img:hover {
    transform: translate(-2px, -2px);
}