@charset "UTF-8";

:root {
    --cor0: #9F87AF;
    --cor1: #f0b469;
    --cor2: #F4FFF8;
    --cor3: #077187;
    --cor4: #11032c;
}

* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
    font-family: 'Clash';
    src: url(fonts/Clash_Bold.otf) format('opentype');
    font-weight: bold;
}


h2,
h1,
h3 {
    font-family: 'clash', 'lexend', serif;

}

nav {
    background-color: black;
    font-family: 'clash' serif;
    text-align: end;
    padding: 10px;
}

nav>a {
    font-family: 'Clash';
    text-decoration: none;
    color: white;
    padding: 10px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.403);
}


header {
    display: block;
    background-image: linear-gradient(to bottom, #9f87af, #077187);
    background-image: url(Imagens/hallo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:  scroll;
    margin: 0;
    padding: 10px;
    color: var(--cor2);
    text-align: center;
   
}

html,
body {
  

    margin: 0px;
    padding: 0px;
}

header>h1 {
    font-family: 'clash', sans-serif;
    font-size: 2.5em;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
    padding: 20px;
    text-shadow: 1px 1px 1px black;
}

header>p {
    font-family: 'clash';
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 10px;
    width: 70vw;
    margin: auto;
   
}

article {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    padding: 20px;

}

article>h2 {
    font-family: 'clash';
    color: var(--cor2);
    text-align: center;
}

article>.clans {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.clash1,
.clash2,
.clash3 {
    display: block;
    width: 60vw;


}

.clans img {
    width: 100px;
    display: block;
    margin: auto;

}

.clans h3 {
    padding: 10px;
    color: var(--cor1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.715);
}

.clans p {
    padding: 10px;
    color: var(--cor4);
}

.clash1,
.clash2,
.clash3 {
    font-family: 'clash';
    color: var(--cor4);
    background-color: var(--cor2);
    border-radius: 20px;
    padding: 20px;

}

ul #guerra {
    list-style-type: '\1F4A5';
    padding: 5px;
    margin-left: 10px;
}

ul #trofeus {
    list-style-type: '\1F3C6';
    padding: 5px;
    margin-left: 10px;
}

ul #controle {
    list-style-type: '\1F3AE';
    padding: 5px;
    margin-left: 10px;
}

.clans button {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    display: block;
    margin: auto;
    color: var(--cor2);
    background-color: var(--cor1);
    font-family: clash;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.373);
    font-size: 0.8em;
}

.clans button:hover {
    cursor: pointer;
    color: var(--cor3);
    background-color: var(--cor2);

}

.clans a {
    text-decoration: none;
}

aside {
      background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
     background-image: url(Imagens/fundo1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: left;

    padding: 10px;
    padding-bottom: 20px;
    color: var(--cor2);
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.344);
}

.videos {
    
    margin: 20px 20px 20px 20px;
    padding-bottom: 30%;
    position: relative;
    border-radius: 20px;
    height: 40vh;
}


.videos>iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
}

footer {
    background-color: black;
    display: flex;
    gap: 3px;
    font-family: clash, sans-serif;
    position: relative;
    justify-content: center;
    color: var(--cor2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.423);
}

footer>p {
    padding: 15px;
}

.social {
    width: 40px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
}

h2#formulario {
    display: none;
}

form {
    padding: 5px;
    width: 300px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}

#botao {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: #f0b469;
    color: white;
}

#botao:hover {
    color: black;
    background-color: var(--cor2);
}

.barbaro {
    width: 20vw;
}

footer>a>img:hover {
    transform: translate(-2px, -2px);
}