@charset "UTF-8";

@media only screen and (min-width:601px) {
body {
    margin: 0px;
    
}
header {
    height: 80vh;
  padding: 40px;
}
header > p {
    padding: 20px;
    font-size: 1.2em;
    margin-top: 20px;
}
header > #junte {
    margin-top: 40px;
}
article >.clans {
    margin: auto;
    width: 40vw;
}
.clash1,.clash2,.clash3 {

   width: 40vw;
}


}







@media only screen and (min-width: 992px) {
   header{
    height: 70vh;
   } 
   header > p#junte {
    font-size: 1.8em;
    padding: 100px;
   }
   article >.clans {
    margin: auto;
    width: 40vw;
}
.clash1,.clash2,.clash3 {

   width: 30vw;
}
}